# Ignore virtual environment
venv/

# Ignore service account key
service-account.json

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore machine learning models and large files (if needed)
models/*/*.keras
models/*/*.pkl

# Ignore other unnecessary files
*.log

